/* Resets */
* { box-sizing: border-box; }
img { width: 100%; }

/* General */
body {
  background: url(../img/seigaiha.png);
}

/* Specific */
#logo {
  width: 150px;
}

.panel {
  opacity: 1;
  height: auto;
  margin-bottom: 0;
  transition: all 0.5s ease;
}

.panel-default>.panel-heading {
  background: #3ECDB3;
}

.list-group-item {
  cursor: pointer;
}

.fade-out {
  opacity: 0;
  height: 0;
  overflow: hidden;
}
